#back_img {
    width: 375px;
    height: 900px;
    background-image: url('../images/bg5.jpg');
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#topcontent {
    position: absolute;
    margin-top: -900px;
}

#logged {
    font-size: 25pt;
    color: #a8e0f4;
    transform: translate(-10px, 5px);
}

#title {
    font-size: 30pt;
    margin-left: 70%;
    margin-top: 25%;
    font-family: grinchedregular;
    color: #d3f3ff;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    font-size: 12vw;
    z-index: 1000;
}

#dropdownMenuButton {
    transform: translate(120px, 20px);
    background-color: #2e61a0;
    border: #2e61a0;
}

#menu {
    float: right;
    transform: translateX(210px);
}

.dropdown-item {
    font-size: 15pt;
}

.margin-t-h {
    font-size: 18pt;
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 330px) {
    #title {
        font-size: 30pt;
        margin-left: 40%;
        margin-top: 25%;
        font-family: grinchedregular;

    }

    #dropdownMenuButton {
        /* transform: translate(24%, 3%);*/
        transform: translate(70px, 20px);
        background-color: #2e61a0;
        border: #2e61a0;
    }
}

@media only screen and (min-width: 500px) {
    .navbar-header {
        display: none;
    }
}
